# {{ ansible_managed }}

service check_mk
{
    type           = UNLISTED
    port           = {{ checkmk_agent__port }}
    socket_type    = stream
    protocol       = tcp
    wait           = no
    user           = root
    server         = {{ checkmk_agent__exec }}

    # https://lists.debian.org/debian-ipv6/2007/03/msg00040.html
    flags          = IPv6

    # configure the IP address(es) of your Nagios server here:
{% if checkmk_agent__allow | length > 0 %}
    only_from      = {{ checkmk_agent__allow | join(' ') }}
{% else %}
    #only_from      = 127.0.0.1 2001:DB8::23 198.51.100.23
{% endif %}

    # Don't be too verbose. Don't log every check. This might be
    # commented out for debugging. If this option is commented out
    # the default options will be used for this service.
    log_on_success =

    disable        = no
}
