{% set checkmk_agent__tpl_detected_plugins = [] %}
{% if checkmk_agent__plugin_autodetect|d() | bool %}
{%   for fact_name in ansible_local.keys() | intersect(checkmk_agent__facts_plugin_map.keys()) %}
{%     if fact_name in ["mariadb", "mysql", "postgresql"] %}
{%       if ansible_local[fact_name].server|d() in [ checkmk_agent__fqdn, "localhost" ] %}
{%         set _ = checkmk_agent__tpl_detected_plugins.append(checkmk_agent__facts_plugin_map[fact_name]) %}
{%       endif %}
{%     else %}
{%       set _ = checkmk_agent__tpl_detected_plugins.append(checkmk_agent__facts_plugin_map[fact_name]) %}
{%     endif %}
{%   endfor %}
{% endif %}
{{ checkmk_agent__tpl_detected_plugins | unique | to_yaml }}
