# {{ ansible_managed }}

command="/usr/bin/sudo {{ checkmk_agent_exec }}"{% if checkmk_agent_allow is defined and checkmk_agent_allow | length > 0 %},from="{{ checkmk_agent_allow | join(',')}}"{% endif %} {{ checkmk_agent_user_key }}
