# {{ ansible_managed }}

servers = [ {% for server in checkmk_agent__plugin_nginx_servers %}('{{ server.proto }}', '{{ server.ipaddress }}', {{ server.port }}){{ ', ' if (not loop.last) else '' }}{% endfor %} ]
